<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <a class="active navbar-brand" href="/">First Task </a>
        <ul class="nav navbar-nav">
        </ul>
    </div>
</nav>