<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <a class="active navbar-brand" href="/">Courses list </a>
        <a class="active navbar-brand" href="/course">Register Course </a>
        <a class="active navbar-brand" href="/courses-available">Courses available</a>
        <ul class="nav navbar-nav"></ul>
    </div>
</nav>